= render 'layouts/header'
.container
  .category-container
    %h2.category-title 人気のカテゴリー
    .category-contents-box
      %ul.category-contents
        %li.content
          %a.content1 レディース
        %li.content
          %a.content2 メンズ
        %li.content
          %a.content3 家電・スマホ・カメラ
        %li.content
          %a.content4 おもちゃ・ホビー・グッズ
  .item-container
    .items-box
      .items-heading
        %h3.items-title レディース新着アイテム
        %a.items-detail{:href => "#"} もっと見る ＞
      .items-list
        %ul.items
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
  .item-container
    .items-box
      .items-heading
        %h3.items-title メンズ新着アイテム
        %a.items-detail{:href => "#"} もっと見る ＞
      .items-list
        %ul.items
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ

  .item-container
    .items-box
      .items-heading
        %h3.items-title 家電・スマホ・カメラ新着アイテム
        %a.items-detail{:href => "#"} もっと見る ＞
      .items-list
        %ul.items
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ

  .item-container
    .items-box
      .items-heading
        %h3.items-title おもちゃ・ホビー・グッズ新着アイテム
        %a.items-detail{:href => "#"} もっと見る ＞
      .items-list
        %ul.items
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
                          
  .brand-container
    %h2.category-title 人気のブランド
    .category-contents-box
      %ul.category-contents
        %li.content
          %a.content1 シャネル
        %li.content
          %a.content2 ルイヴィトン
        %li.content
          %a.content3 シュプリーム
        %li.content
          %a.content4 ナイキ

  .item-container
    .items-box
      .items-heading
        %h3.items-title シャネル新着アイテム
        %a.items-detail{:href => "#"} もっと見る ＞
      .items-list
        %ul.items
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ

  .item-container
    .items-box
      .items-heading
        %h3.items-title ルイヴィトン新着アイテム
        %a.items-detail{:href => "#"} もっと見る ＞
      .items-list
        %ul.items
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ

  .item-container
    .items-box
      .items-heading
        %h3.items-title シュプリーム新着アイテム
        %a.items-detail{:href => "#"} もっと見る ＞
      .items-list
        %ul.items
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ

  .item-container
    .items-box
      .items-heading
        %h3.items-title ナイキ新着アイテム
        %a.items-detail{:href => "#"} もっと見る ＞
      .items-list
        %ul.items
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              %a.item-link{:herf => "#"}
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
= render 'layouts/footer'
